<!-- -----------------content section------------------- -->
<div class="banner-wrap hm">
    <div class="banner-contents">
        <owl-carousel-o class="hmbanner" [options]="bannerOptions">
            <ng-template carouselSlide>
                <div class="item">
                    <div class="banneritem"
                        style="background-image: url(../../assets/images/hm-banner1.jpg); background-repeat: no-repeat;">
                        <div class="bannertext">
                            <h2>24/7 Here We will make things Easier</h2>
                            <p>24/7 contacting your professional in one platform and make sure to keep your life
                                balance.Hire Your Helper Here.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="banneritem"
                        style="background-image: url(../../assets/images/hm-banner2.jpg); background-repeat: no-repeat;">
                        <div class="bannertext">
                            <h2>24/7 Here We will make things Easier</h2>
                            <p>24/7 contacting your professional in one platform and make sure to keep your life
                                balance.Hire Your Helper Here.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<div class="bannersearch">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <div class="form-inline hm-search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search your technicians here ?"
                            [formControl]="searchTerm">
                        <button type="submit" class="btn" (click)="searchHelper()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Services We Provide</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean it amet, <br>
                        consectetuer adipiscing elit. Aenean
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="service-boxwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-2 sbb" *ngFor="let data of helperCategoryList">
                    <a [routerLink]="['/services/sub-service', data.id]">
                        <div class="service-box">
                            <div class="serviceimg">
                                <img src="{{data.iconUrl}}" class="img-fluid">
                            </div>
                            <div class="service-content">
                                <h4>{{data.name}}</h4>
                                <p>{{data.shortDescription}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="counterwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="thecounter">
                        <div class="counterimg">
                            <img src="../../assets/images/count1.png">
                        </div>
                        <div class="countnim">
                            <div counto [step]="100" [countTo]="2650" [countFrom]="0" [duration]="3"
                                (countoChange)="noOfHelpers = $event" class="number">
                                {{ noOfHelpers | number: '1.0-0' }}</div>
                            <span class="counttext">Working Helpers</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="thecounter">
                        <div class="counterimg">
                            <img src="../../assets/images/count2.png">
                        </div>
                        <div class="countnim">
                            <div counto [step]="50" [countTo]="790" [countFrom]="0" [duration]="3"
                                (countoChange)="noOfJobs = $event" class="number2">
                                {{ noOfJobs | number: '1.0-0' }}</div>
                            <span class="counttext">Completed Jobs</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="thecounter">
                        <div class="counterimg">
                            <img src="../../assets/images/count3.png">
                        </div>
                        <div class="countnim">
                            <div counto [step]="30" [countTo]="650" [countFrom]="0" [duration]="3"
                                (countoChange)="noOfClients = $event" class="number3">
                                {{ noOfClients | number: '1.0-0' }}</div>
                            <span class="counttext">Our Satisfied Clients</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="thecounter">
                        <div class="counterimg">
                            <img src="../../assets/images/count4.png">
                        </div>
                        <div class="countnim">
                            <div counto [step]="10" [countTo]="210" [countFrom]="0" [duration]="3"
                                (countoChange)="noOfOnGoingJobs = $event" class="number4">
                                {{ noOfOnGoingJobs | number: '1.0-0' }}</div>
                            <span class="counttext">Ongoing Jobs</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="infoblock">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="play-1" href="https://www.youtube.com/watch?v=vpO8sZDxOGI">
                        <div class="introimg">
                            <img src="../../assets/images/hmvideoimg.jpg" class="img-fluid">
                        </div>
                    </a>

                </div>
                <div class="col-lg-6">
                    <div class="info-contents">
                        <h3>Overview</h3>
                        <p>Most of the people have a difficulty in facing their dailytasks. Our Team helps them to make
                            things in a more comfortable way. We are helping our customer to reach their daily task in
                            professional manner .</p>
                        <div class="bluebox">
                            <p>Through this, our customer is able to navigate and get helps for themselves. My Team will
                                cooperate with numerous sector to make sure customer satisfaction. </p>
                        </div>
                        <a href="" class="readmore">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hmtiotech">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="toprate-tec">
                        <h3 class="subtitle">Top Rated Helpers</h3>
                        <div class="toptechslider-wrap">
                            <!-- <div class="owl-carousel owl-theme owl-sl" id="hmtoptech"> -->
                            <owl-carousel-o [options]="customOptions" id="hmtoptech">
                                <ng-template carouselSlide *ngFor="let data of helperList">
                                    <div class="item">
                                        <div class="tech-item">
                                            <div class="techimg">
                                                <img src="{{data.image.imageUrl}}" class="img-fluid">
                                            </div>
                                            <div class="techdetail">
                                                <h5>{{data.firstName}} {{data.lastName}}</h5>
                                                <div class="tech-points">
                                                    <span class="tech-field">
                                                        <i class="sprite sprite-field-icon"></i>
                                                        <h6><a href="">{{data.helperCategory.name}}</a></h6>
                                                    </span>
                                                    <span class="tech-field">
                                                        <i class="sprite sprite-city-icon"></i>
                                                        <h6>{{data.city}}</h6>
                                                    </span>
                                                    <span class="tech-field">
                                                        <i class="sprite sprite-country-icon"></i>
                                                        <h6>{{data.country}}</h6>
                                                    </span>
                                                </div>
                                                <div class="techbtn-wrap">
                                                    <a href="javascript:void(0)"
                                                        [routerLink]="['/hire-me/open-ticket', data.id]"
                                                        class="btn-hire">Hire Me</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </owl-carousel-o>


                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whychoose">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="whychoose-title">
                        <h5>Why Choose Us</h5>
                        <p>Trust and safety policy Schema and 24/7 customer support measure to keep our customer and
                            service provider in satisfaction manner. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="wc-box">
                        <img src="../../assets/images/whychoose-icon1.png" class="img-fluid">
                        <div class="wc-box-content">
                            <h6>Trust and Safety</h6>
                            <p>Lorem ipsum dolor sit amet, conectetuer adipiscing elit. Aenean etuer adipiscing
                                elitetuer adipis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wc-box">
                        <img src="../../assets/images/whychoose-icon2.png" class="img-fluid">
                        <div class="wc-box-content">
                            <h6>24/7 Support</h6>
                            <p>Lorem ipsum dolor sit amet, conectetuer adipiscing elit. Aenean etuer adipiscing
                                elitetuer adipis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wc-box">
                        <img src="../../assets/images/whychoose-icon3.png" class="img-fluid">
                        <div class="wc-box-content">
                            <h6>Customer Satisfaction</h6>
                            <p>Lorem ipsum dolor sit amet, conectetuer adipiscing elit. Aenean etuer adipiscing
                                elitetuer adipis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="infobanner">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="infobanner-content">
                    <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                    <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis
                    </p>
                    <a [routerLink]="['/hire-me']" class="readmore">Open a Ticket</a>
                </div>
            </div>
        </div>
    </div> -->
</div>


<!-- -----------------content section end--------------------->