// // .toptechslider-wrap {
// //     position: relative;
// //     display: block;
// //     padding: 0 34px;
// // }
// .owl-nav {
//     position: absolute;
//     top: 185px;
//     width: 100%;
// }

// // .dashboardwrap .owl-nav {
// //     top: 146px; 
// // }
// // .recommend-wrap .owl-nav {
// //     top: 145px;    
// // }
// .owl-theme .owl-nav [class*='owl-']:hover {
//     background: transparent;
//     color: #8a8282;
//     text-decoration: none;
// }

// .toptechslider-wrap .owl-carousel .owl-nav {  
//     color: transparent;
// }
// .owl-nav .owl-prev, .owl-nav .owl-prev:hover {
//     // background-image: url('../../assets/images/slider-prv.png');
//     background-repeat: no-repeat;
//     padding: 10px !important;
// }
// .owl-nav .owl-next, .owl-nav .owl-next:hover {
//     //  background-image: url('./../assets/images/slider-nxt.png'); 
//     background-repeat: no-repeat;
//     padding: 10px !important;
// }

// .owl-prev {
//     position: absolute;
//     left: -47px;
// }

// .owl-next {
//     right: -43px;
//     position: absolute;
// }

// .owl-stage{
//     transform: translate3d(-1290px, 0px, 0px); 
//     transition: all 0.25s ease 0s; 
//     width: 3354px;
// }
// .owl-item{
//     width: 228px; 
//     margin-right: 30px;
// }

.techimg{
   .img-fluid{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 75% !important;
   }
}

.modal-dialog {
   max-width: 930px !important;
   top: 100px;
}