<div class="main-content">
    <app-loader *ngIf="isLoadingResults"></app-loader>
    <div class="container-fluid">



        <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
            <form>
                <div class="form_line">
                    <label>Image:</label>
                    <div class="form_controls">
                        <div class="upload_button_holder">
                            <label class="upload_button" for="fileupload">Upload</label>
                            <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                            <!-- <input type="file" id="fileupload" #fileInput ng2FileSelect 
                                [uploader]="uploader"/> -->
                            <button (click)="fileInput.click()" class="btn btn-default">Upload</button>
                            <span
                                style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                                <input type="file" #fileInput ng2FileSelect [uploader]="uploader" />
                            </span>
                        </div>
                        <button class="btn btn-primary" [disabled]="!isUploaded">Save</button>
                    </div>
                </div>
            </form>
        </div>




    </div>
</div>