<div class="content-box-wrap techwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="tech-detail-wrap">

                    <div class="techinfo">
                        <div class="techinfo-img">
                            <img src="../../assets/images/tech-profile-img.jpg" class="img-fluid">
                        </div>
                        <h2>John Deo</h2>
                        <p>12 completed jobs | 5 jobs in Queue | Reviews & Ratings (24) </p>
                    </div>
                    <div class="tech-silder">
                        <div class="owl-carousel owl-theme owl-tech" id="techslider">
                            <div class="item"><img src="../../assets/images/jobdetail-slider.jpg"></div>
                            <div class="item"><img src="../../assets/images/jobdetail-slider.jpg"></div>
                            <div class="item"><img src="../../assets/images/jobdetail-slider.jpg"></div>
                        </div>
                    </div>
                    <div class="description-wrap">
                        <h5>Description about the service</h5>
                        <div class="des-content">
                            <p>Aliquam lorem ante, dapibus in, viverra quis, feugiata, tellus. Phasellus viverra nulla
                                ut metus varius laoreet.Quisque rutrum. Aenean imperdiet. Etiam ultricies metus varius
                                Nam quam nunc, blandit vel, luctus pulvinar, hen lorem. Maecenas nec odi oet ante
                                tincidunt temvitae sapien vel augue. Curabitur ullamcorper ulsi.</p>

                            <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius laoreet. Nam
                                quam nunc, blanditvel, luctus pulvinar, hen lorem. Maecenas nec odio et ante tincidunt
                                temvitae sapien vel augue. Quisque rutrum. Aenean imperdiet. Etiam ultricies metus
                                variusv Nam quam nunc, blandit vel, luctus pulvinar, hen lorem. Maecenas nec odi oet
                                ante tincidunt temvitae sapien vel augue. Curabitur ullamcorper ulsi. Maecenas nec odi
                                oet ante tincidunt temvitae sapien vel augue. Curabitur ullamcorper ulsi. </p>
                            <ul>
                                <li>Curabitur ullamcorper ulsi.</li>
                                <li>Blandit vel, luctus</li>
                                <li>Nam quam nunc</li>
                                <li>Phasellus viverra nulla ut metus</li>
                                <li>Etiam ultricies metus variusv</li>
                                <li>Quisque rutrum</li>
                                <li>Aenean imperdiet</li>
                                <li>Maecenas nec odi oet ante tincidunt</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-tech">
                        <h5>About the technician</h5>
                        <div class="about-techwrap boxshadow">
                            <h3>Member Since</h3>
                            <h6>Jan 2019</h6>
                            <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius laoreet. Nam
                                quam nunc, blanditvel, luctus pulvinar, hen lorem. Maecenas nec odio et ante tincidunt
                                temvitae sapien vel augue. Quisque rutrum. Aenean imperdiet. Etiam ultricies metus
                                variusv Nam quam nunc, blandit vel, luctus pulvinar, hen lorem. Maecenas nec odi oet
                                ante tincidunt temvitae sapien vel augue. Curabitur ullamcorper ulsi. Maecenas nec odi
                                oet ante tincidunt temvitae sapien vel augue. Curabitur ullamcorper ulsi. </p>
                        </div>
                    </div>

                    <!-- ridesidebar mobile -->
                    <div class="mobilside boxshadow">
                        <div class="right-sidebar">
                            <div class="rs-row">
                                <h4>Expertise</h4>
                                <h5>IT & Telecommunication</h5>
                            </div>
                            <div class="rs-row">
                                <h4>Country</h4>
                                <h5>USA</h5>
                            </div>
                            <div class="rs-row">
                                <h4>State</h4>
                                <h5>Texas</h5>
                            </div>
                            <div class="rs-row">
                                <h4>City</h4>
                                <h5>HUston</h5>
                            </div>
                            <div class="rs-row">
                                <h4>Years of Experience</h4>
                                <h5>5 Years</h5>
                            </div>
                            <div class="rs-row">
                                <h4>Availability</h4>
                                <span class="availablel-label">Available</span>
                            </div>
                            <div class="rs-row">
                                <a href="" class="btn-hire">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <!-- ridesidebar mobile end -->

                    <div class="recommend-wrap">
                        <h5>Recommended For You</h5>
                        <div class="toptechslider-wrap">
                            <div class="owl-carousel owl-theme owl-sl" id="recommend-slider">
                                <div class="item">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label not-av">Not Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-rate-wrap">
                        <h5>Reviews and Ratings</h5>
                        <div class="rate-list">
                            <div class="media">
                                <div class="align-self-start mr-3 usertag">T</div>
                                <div class="media-body">
                                    <h5 class="mt-0">Tom Smith</h5>
                                    <div class="start-rate">
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                    </div>
                                    <div class="review-date">Jan 2019 | United Kingdom</div>
                                    <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius
                                        laoreet. Nam quam nunc, blanditvel, luctus pulvinar, hen lorem. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="align-self-start mr-3 usertag">T</div>
                                <div class="media-body">
                                    <h5 class="mt-0">Tom Smith</h5>
                                    <div class="start-rate">
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                    </div>
                                    <div class="review-date">Jan 2019 | United Kingdom</div>
                                    <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius
                                        laoreet. Nam quam nunc, blanditvel, luctus pulvinar, hen lorem. Phasellus
                                        viverra nulla ut metus varius laoreet. Nam quam nunc, blanditvel, luctus
                                        pulvinar, hen lorem </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="align-self-start mr-3 usertag">J</div>
                                <div class="media-body">
                                    <h5 class="mt-0">Jack Smith</h5>
                                    <div class="start-rate">
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                    </div>
                                    <div class="review-date">Jan 2019 | United Kingdom</div>
                                    <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius
                                        laoreet. Nam quam nunc, blanditvel, luctus pulvinar, hen lorem. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="align-self-start mr-3 usertag">J</div>
                                <div class="media-body">
                                    <h5 class="mt-0">Jack Smith</h5>
                                    <div class="start-rate">
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                    </div>
                                    <div class="review-date">Jan 2019 | United Kingdom</div>
                                    <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius
                                        laoreet. Nam quam nunc, blanditvel, luctus pulvinar, hen lorem. </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="align-self-start mr-3 usertag">J</div>
                                <div class="media-body">
                                    <h5 class="mt-0">Jack Smith</h5>
                                    <div class="start-rate">
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                        <span><img src="../../assets/images/comment-star.png"></span>
                                    </div>
                                    <div class="review-date">Jan 2019 | United Kingdom</div>
                                    <p>Nam ut libero venen atis faucibus. Phasellus viverra nulla ut metus varius
                                        laoreet. Nam quam nunc, blanditvel, luctus pulvinar, hen lorem. </p>
                                </div>
                            </div>
                            <!-- <a href="" class="btnreview" id="loadMore">Read More Reviews</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-sidebar">
                    <div class="rs-row">
                        <h4>Expertise</h4>
                        <h5>IT & Telecommunication</h5>
                    </div>
                    <div class="rs-row">
                        <h4>Country</h4>
                        <h5>USA</h5>
                    </div>
                    <div class="rs-row">
                        <h4>State</h4>
                        <h5>Texas</h5>
                    </div>
                    <div class="rs-row">
                        <h4>City</h4>
                        <h5>HUston</h5>
                    </div>
                    <div class="rs-row">
                        <h4>Years of Experience</h4>
                        <h5>5 Years</h5>
                    </div>
                    <div class="rs-row">
                        <h4>Availability</h4>
                        <span class="availablel-label">Available</span>
                    </div>
                    <div class="rs-row">
                        <a href="" class="btn-hire">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>