<div class="content-box-wrap appwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appcontainer">
                    <div class="row">
                        <div class="col-lg-4 sb">
                            <div class="sidebar boxshadow">
                                <div class="sidebar-header">
                                    <div class="profileimg">
                                        <img src="{{helperModel.image.imageUrl}}" class="img-fluid">
                                    </div>
                                    <div class="profile-info">
                                        <h3>{{helperModel.firstName}} {{helperModel.lastName}}</h3>
                                        <p>Last login was 4th June 2020</p>
                                    </div>

                                </div>
                                <div class="sidebar-links">
                                    <div class="mobiledrop">
                                        <p class="mdroptext">Select</p>
                                        <ul>
                                            <li><a (click)="showDashboard()"><i
                                                        class="sprite sprite-dashboard-icon"></i> Dashboard</a>
                                            </li>
                                            <li><a (click)="showMyJobs()"><i class="sprite sprite-mytickets-icon"></i>
                                                    My Jobs</a>
                                            </li>
                                            <li><a (click)="showSettings()"><i class="sprite sprite-settings-icon"></i>
                                                    Settings</a></li>
                                            <li><a (click)="showRatings()"><i
                                                        class="sprite sprite-reviewsrate-icon"></i> Reviews &
                                                    Ratings</a></li>
                                            <li><a (click)="logout()"><i class="sprite sprite-logout-icon"></i> Log
                                                    out</a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-8 dbb" *ngIf="isDashboardClicked">
                            <div class="dashboardwrap tech">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5>Dashboard</h5>
                                        <h6>Hello, {{helperModel.firstName}} {{helperModel.lastName}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="dashinfo">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <div class="statusbox boxshadow">
                                                        <h5>Feedback of the last ticket you completed</h5>
                                                        <p>At vero eos accusam et justo lorem ipsum dolor sit amet, at
                                                            accusam lorem, amet et ipsum justo dolor, sit amet at vero
                                                            eos</p>
                                                        <div class="statusinfo">
                                                            <a href="" class="btn-red ">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="seekingbox boxshadow text-center">
                                                        <h5>You have a new job waiting</h5>
                                                        <p>A new job is waiting for you. View the job and accept or
                                                            reject it</p>
                                                        <a href="" class="btn-red">VIEW JOB</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="jobwrap">
                                            <div class="jobbox boxshadow text-center">
                                                <h4>Completed Jobs</h4>
                                                <h5 class="completed-lbl">
                                                    <div class="job-number1">{{jobsCountModel.completedJobs}}</div>
                                                </h5>
                                            </div>
                                            <div class="jobbox boxshadow text-center">
                                                <h4>Accepted Jobs</h4>
                                                <h5 class="accept-lbl">
                                                    <div class="job-number2">{{jobsCountModel.acceptedJobs}}</div>
                                                </h5>
                                            </div>
                                            <div class="jobbox boxshadow text-center">
                                                <h4>Pending Jobs</h4>
                                                <h5 class="pending-lbl">
                                                    <div class="job-number3">{{jobsCountModel.pendingJobs}}</div>
                                                </h5>
                                            </div>
                                            <div class="jobbox boxshadow text-center">
                                                <h4>Rejected Jobs</h4>
                                                <h5 class="reject-lbl">
                                                    <div class="job-number4">{{jobsCountModel.rejectedJobs}}</div>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="jobsection">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="pending-jobs boxshadow text-center">
                                                    <h5>You have two Pending Jobs</h5>
                                                    <p>At vero eos accusam et justo lorem ipsum dolor sit
                                                        lorem, amet et ipsum justo dolor.</p>
                                                    <hr />
                                                    <p>At vero eos accusam et justo lorem ipsum dolor sit lorem, amet et
                                                        ipsum justo dolor.</p>

                                                    <a href="" class="btn-red large">VIEW</a>

                                                </div>

                                            </div>
                                            <div class="col-lg-7">
                                                <div class="reminder boxshadow">
                                                    <h4>Reminder! </h4>
                                                    <h5>You have two more days to complete this accepted job</h5>
                                                    <p>At vero eos accusam et justo lorem ipsum dolor sit amet, at
                                                        accusamlorem, amet et ipsum justo dolor, sit amet at vero eos
                                                    </p>
                                                    <p>Help date : 10 Jan 2020</p>
                                                    <div class="remind">
                                                        <a href="" class="btn-red large">VIEW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 dbb heighfix" *ngIf="isMyJobsClicked">
                            <div class="dashboardwrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5>Dashboard/ My Jobs</h5>
                                        <h6>My Jobs</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tablewrap t2">
                                            <h2 class="subtitle3">Pending Jobs</h2>
                                            <table>

                                                <thead>
                                                    <tr>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Customer</th>
                                                        <th scope="col">Help Date</th>
                                                        <th scope="col">Help Time</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let data of ticketList">
                                                        <tr *ngIf="data.ticketStatusId==1">
                                                            <td data-label="Title">{{data.title}}</td>
                                                            <td data-label="Category">
                                                                {{data.helper.helperCategory.name}}</td>
                                                            <td data-label="Helper">{{data.helper.firstName}}
                                                                {{data.helper.lastName}}</td>
                                                            <td data-label="Help Date">
                                                                {{data.helpDateFrom | date: 'mediumDate'}}</td>
                                                            <td data-label="Help Time">{{data.helpTime}}</td>
                                                            <td data-label="Action">
                                                                <a href="javascript:void(0)" class="btn-red small"
                                                                    (click)="approveTicket(data.id)">Accept</a>
                                                                <a href="javascript:void(0)"
                                                                    class="btn-red small">Reject</a>
                                                            </td>
                                                        </tr>
                                                    </ng-container>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="pagiarrow">
                                            <a href=""><img src="img/pagiarrow-prv.png"></a>
                                            <a href=""><img src="img/pagiarrow-next.png"></a>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tablewrap t2">
                                            <h2 class="subtitle3">Ongoing Jobs</h2>
                                            <table>

                                                <thead>
                                                    <tr>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Customer</th>
                                                        <th scope="col">Help Date</th>
                                                        <th scope="col">Help Time</th>
                                                        <!-- <th scope="col">Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let data of ticketList">
                                                        <tr *ngIf="data.ticketStatusId==2">
                                                            <td data-label="Title">{{data.title}}</td>
                                                            <td data-label="Category">
                                                                {{data.helper.helperCategory.name}}</td>
                                                            <td data-label="Helper">{{data.helper.firstName}}
                                                                {{data.helper.lastName}}</td>
                                                            <td data-label="Help Date">
                                                                {{data.helpDateFrom | date: 'mediumDate'}}</td>
                                                            <td data-label="Help Time">{{data.helpTime}}</td>
                                                            <!-- <td data-label="Action">
                                                            <a href="javascript:void(0)" class="btn-red small" (click)="approveTicket(data.id)">Accept</a>
                                                            <a href="javascript:void(0)" class="btn-red small">Reject</a>
                                                        </td> -->
                                                        </tr>
                                                    </ng-container>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="pagiarrow">
                                            <a href=""><img src="img/pagiarrow-prv.png"></a>
                                            <a href=""><img src="img/pagiarrow-next.png"></a>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tablewrap t2">
                                            <h2 class="subtitle3">Completed Tickets</h2>
                                            <table>

                                                <thead>
                                                    <tr>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Customer</th>
                                                        <th scope="col">Help Date</th>
                                                        <th scope="col">Help Time</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let data of ticketList">
                                                        <tr *ngIf="data.ticketStatusId==3">
                                                            <td data-label="Title">{{data.title}}</td>
                                                            <td data-label="Category">
                                                                {{data.helper.helperCategory.name}}</td>
                                                            <td data-label="Helper">{{data.helper.firstName}}
                                                                {{data.helper.lastName}}</td>
                                                            <td data-label="Help Date">
                                                                {{data.helpDateFrom | date: 'mediumDate'}}</td>
                                                            <td data-label="Help Time">{{data.helpTime}}</td>
                                                            <td data-label="Action">
                                                                <a href="javascript:void(0)" class="btn-red small"
                                                                    data-toggle="modal" data-target="#view"
                                                                    (click)="openModal(template, data)">View</a>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="pagiarrow">
                                            <a href=""><img src="img/pagiarrow-prv.png"></a>
                                            <a href=""><img src="img/pagiarrow-next.png"></a>
                                        </div> -->
                                    </div>
                                </div>

                                <ng-template #template>
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Ticket Details</h4>
                                        <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            Title: {{ticketModel.title}}
                                        </div>
                                        <div class="row">
                                            Category: {{ticketModel.helper.helperCategory.name}}
                                        </div>
                                        <div class="row">
                                            Helper: {{ticketModel.helper.firstName}} {{ticketModel.helper.lastName}}
                                        </div>
                                        <div class="row">
                                            Help Date From: {{ticketModel.helpDateFrom | date: 'mediumDate'}}
                                        </div>
                                        <div class="row">
                                            Help Date To: {{ticketModel.helpDateTo | date: 'mediumDate'}}
                                        </div>
                                        <div class="row">
                                            Help Time: {{ticketModel.helpTime}}
                                        </div>
                                        <div class="row">
                                            Country: {{ticketModel.country}}
                                        </div>
                                        <div class="row">
                                            State: {{ticketModel.state}}
                                        </div>
                                        <div class="row">
                                            City: {{ticketModel.city}}
                                        </div>
                                        <div class="row">
                                            Address: {{ticketModel.address}}
                                        </div>
                                        <div class="row">
                                            Contact No 1: {{ticketModel.contactNo1}}
                                        </div>
                                        <div class="row">
                                            Contact No 2: {{ticketModel.contactNo2}}
                                        </div>
                                        <div class="row">
                                            Other Requirements: {{ticketModel.otherRequirements}}
                                        </div>
                                    </div>
                                </ng-template>

                            </div>
                        </div>
                        <div class="col-lg-8 dbb" *ngIf="isSettingsClicked">
                            <div class="dashboardwrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5>Dashboard/Settings</h5>
                                        <h6>Settings</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="settings">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="settingwrap boxshadow">
                                                        <h4>Personal Settings</h4>
                                                        <div class="setting-form">
                                                            <form [formGroup]="helperForm"
                                                                (ngSubmit)="onHelperSubmit()">
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Full name"
                                                                                formControlName="firstName"
                                                                                [ngClass]="{ 'is-invalid': h.firstName.errors && h.firstName.dirty }">
                                                                            <div *ngIf="h.firstName.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.firstName.errors.required">
                                                                                    First Name is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Last Name"
                                                                                formControlName="lastName"
                                                                                [ngClass]="{ 'is-invalid': h.lastName.errors && h.lastName.dirty }">
                                                                            <div *ngIf="h.lastName.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.lastName.errors.required">
                                                                                    Last Name is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Phone</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94"
                                                                                formControlName="phoneNo"
                                                                                [ngClass]="{ 'is-invalid': h.phoneNo.errors && h.phoneNo.dirty }">
                                                                            <div *ngIf="h.phoneNo.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.phoneNo.errors.required">
                                                                                    Phone is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Mobile</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94"
                                                                                formControlName="mobileNo"
                                                                                [ngClass]="{ 'is-invalid': h.mobileNo.errors && h.mobileNo.dirty }">
                                                                            <div *ngIf="h.mobileNo.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.mobileNo.errors.required">
                                                                                    Mobile is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>E mail Address</label>
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Your Email"
                                                                                formControlName="email"
                                                                                [ngClass]="{ 'is-invalid': h.email.errors && h.email.dirty }">
                                                                            <div *ngIf="h.email.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.email.errors.required">
                                                                                    Email is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Address</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="addressLine"
                                                                                [ngClass]="{ 'is-invalid': h.addressLine.errors && h.addressLine.dirty }">
                                                                            <div *ngIf="h.addressLine.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.addressLine.errors.required">
                                                                                    Address is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Country </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="country"
                                                                                [ngClass]="{ 'is-invalid': h.country.errors && h.country.dirty }">
                                                                            <div *ngIf="h.country.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.country.errors.required">
                                                                                    Country is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>State</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="state"
                                                                                [ngClass]="{ 'is-invalid': h.state.errors && h.state.dirty }">
                                                                            <div *ngIf="h.state.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.state.errors.required">
                                                                                    State is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>City </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="city"
                                                                                [ngClass]="{ 'is-invalid': h.city.errors && h.city.dirty }">
                                                                            <div *ngIf="h.city.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.city.errors.required">
                                                                                    City is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Postal Code</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder=""
                                                                                formControlName="postalCode"
                                                                                [ngClass]="{ 'is-invalid': h.postalCode.errors && h.postalCode.dirty }">
                                                                            <div *ngIf="h.postalCode.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.postalCode.errors.required">
                                                                                    Postal Code is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group field-chk">
                                                                            <label>Field of Expertise</label>
                                                                            <div class="form-check"
                                                                                *ngFor="let model of helperCategoryList">
                                                                                <label class="form-check-label">
                                                                                    <input
                                                                                        class="form-check-input fieldcheck"
                                                                                        type="radio" [value]="model.id"
                                                                                        id=""
                                                                                        formControlName="helperCategoryId"
                                                                                        [ngClass]="{ 'is-invalid': h.helperCategoryId.errors && h.helperCategoryId.dirty }">
                                                                                    {{model.name}}
                                                                                    <div *ngIf="h.helperCategoryId.errors"
                                                                                        class="invalid-feedback">
                                                                                        <div
                                                                                            *ngIf="h.helperCategoryId.errors.required">
                                                                                            Field of experiance is
                                                                                            required</div>
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Years of Experience</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Years of Experience"
                                                                                formControlName="experience"
                                                                                [ngClass]="{ 'is-invalid': h.experience.errors && h.experience.dirty }">
                                                                            <div *ngIf="h.experience.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.experience.errors.required">
                                                                                    Experience is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Profile Picture</label>
                                                                            <label class="file">
                                                                                <input type="file"
                                                                                    class="form-control-file">
                                                                                <span class="file-custom"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>About Me</label>
                                                                            <textarea class="form-control set-text"
                                                                                placeholder="Description About your self"
                                                                                formControlName="aboutMe"
                                                                                [ngClass]="{ 'is-invalid': h.aboutMe.errors && h.aboutMe.dirty }"></textarea>
                                                                            <div *ngIf="h.aboutMe.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.aboutMe.errors.required">
                                                                                    About Me is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>About My Service</label>
                                                                            <textarea class="form-control set-text"
                                                                                placeholder="Description about the service provided"
                                                                                formControlName="myService"
                                                                                [ngClass]="{ 'is-invalid': h.myService.errors && h.myService.dirty }"></textarea>
                                                                            <div *ngIf="h.myService.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.myService.errors.required">
                                                                                    About my service is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn redbtn"
                                                                    [disabled]="helperForm.invalid || isHelperRequested">
                                                                    <i class="fa fa-circle-o-notch fa-spin fa-fw"
                                                                        [hidden]="!isHelperRequested"></i>
                                                                    {{isHelperRequested ? 'Saving' : 'Save'}}</button>
                                                            </form>
                                                        </div>
                                                        <div class="accsetting" [formGroup]="skillForm">
                                                            <h4>Skills</h4>
                                                            <div formArrayName="skills">
                                                                <div class="row"
                                                                    *ngFor="let skill of skills.controls; let i=index" style="margin-left: 10px;">
                                                                    <div class="form-group">
                                                                        <label>Skill {{i+1}}:
                                                                            &nbsp;</label>
                                                                        <div style="display: inline-flex;">
                                                                            <input type="text" class="form-control"
                                                                                [formControlName]="i">
                                                                            <button class="btn redbtn"
                                                                                style="width: 43px;"
                                                                                (click)="deleteSkill(i)">
                                                                                -
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button (click)="addNewSkill()" class="btn redbtn">Add
                                                                    Skill</button>
                                                                <button type="submit" class="btn redbtn mt-3"
                                                                    (click)="onSkillSubmit()" [disabled]="isSkillRequested">
                                                                    <i class="fa fa-circle-o-notch fa-spin fa-fw"
                                                                        [hidden]="!isSkillRequested"></i>
                                                                    {{isSkillRequested ? 'Saving' : 'Save Skills'}}
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div class="accsetting">
                                                            <h4>Account Settings</h4>
                                                            <div class="form-row">
                                                                <div class="col cgap">
                                                                    <div class="form-group">
                                                                        <label>Password</label>
                                                                        <input type="password" class="form-control"
                                                                            placeholder="Enter Your Password">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Verify Password</label>
                                                                        <input type="password" class="form-control"
                                                                            placeholder="Re-enter Password">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="submit" class="btn redbtn mt-3">Change
                                                                Password</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-8 dbb heighfix" *ngIf="isRatingClicked">
                            <div class="dashboardwrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5>Dashboard/ Reviews & Ratings</h5>
                                        <h6>Reviews & Ratings</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tablewrap">
                                            <table>

                                                <thead>
                                                    <tr>
                                                        <th scope="col">Customer</th>
                                                        <th scope="col">Review</th>
                                                        <th scope="col">Rating</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let feedback of feedbackList">
                                                        <td data-label="Customer">{{feedback.customer.name}}</td>
                                                        <td data-label="Review">{{feedback.description}}</td>
                                                        <td data-label="Rating">{{feedback.rating}}</td>
                                                        <td data-label="Date">{{feedback.createdOn | date:'mediumDate'}}
                                                        </td>
                                                        <td data-label=""><a href="" class="btn-red small"
                                                                data-toggle="modal" data-target="#rates">View</a></td>
                                                    </tr>


                                                </tbody>
                                            </table>



                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>