<div class="content-box-wrap sign-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="signbox">
                    <h2>Sign up with 24/7 Helps</h2>
                    <p>Sign up to manage personal details and tickets. Access data from any device</p>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="email" class="form-control userbx" id="" placeholder="Enter E mail"
                                formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors && f.email.dirty }">
                            <div *ngIf="f.email.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                <div *ngIf="f.email.errors?.emailInUse">Email is already taken!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Enter Username"
                                formControlName="userName"
                                [ngClass]="{ 'is-invalid': f.userName.errors && f.userName.dirty }">
                            <div *ngIf="f.userName.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.userName.errors.required">Username is required</div>
                                <div *ngIf="f.userName.errors?.usernameInUse">Username is already taken!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control passbx" id="" placeholder="Password"
                                formControlName="password"
                                [ngClass]="{ 'is-invalid': (f.password.errors && f.password.dirty)}">
                            <div *ngIf="f.password.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control passbx" id="" placeholder="Re-enter Passwoord"
                                formControlName="password2"
                                [ngClass]="{ 'is-invalid': (f.password2.errors && f.password2.dirty ) || signupForm.hasError('mismatchedPasswords')}">
                            <div *ngIf="f.password2.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                            <div *ngIf="signupForm.hasError('mismatchedPasswords')" class="invalid-feedback text-danger">
                                Passwords do not match
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="" style="color: #999;" formControlName="userType"
                                [ngClass]="{ 'is-invalid': f.userType.errors && f.userType.dirty }">
                                <option value=0 disabled selected>I need to be a ....</option>
                                <option value=2>Helper</option>
                                <option value=3>Customer</option>
                            </select>
                            <div *ngIf="f.userType.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.userType.errors.required">User Type is required</div>
                            </div>
                        </div>
                        <button type="submit" class="btn-sign" [disabled]="!signupForm.valid">CREATE AN ACCOUNT</button>
                    </form>

                    <div class="login-info">
                        By creatig an account , you agree to 24/7 helps’ <a [routerLink]="['/help-center']">Terms &
                            Conditions and Private
                            Policy</a>
                    </div>
                    <div class="reloging">Aready have an account? <a [routerLink]="['/auth/login']">Log in</a></div>



                </div>
            </div>
        </div>
    </div>
</div>