<div class="banner-wrap inner"
    style="background-image: url(assets/images/servicebg.jpg); background-repeat: no-repeat;">
    <div class="banner-contents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h1>Services</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap serv">
    <div class="abt-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="abt-content">
                        <img src="assets/images/serviceimg.jpg" class="img-fluid">
                        <h3>What We Do</h3>
                        <p>Aliquam lorem ante, dapibus in, viverra quis, feugiata, tellus.Phasellus viverra nulla ut
                            metus varius laoreet. Quisque rutrum. Ae nean imper diet. Etiam ultricies metus varius
                            augueecenas nec odio et ante tincidunt temvitae sapien vel</p>

                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hen lorem. Maecenas nec odio et ante tincidunt
                            temvitae sapien vel augue.Curabitur ullamcorper ulsi. Nam ut libero venenatis faucibus.
                            Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ourservices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Services We Provide</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean it amet, <br>
                            consectetuer adipiscing elit. Aenean
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-boxwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-2 sbb" *ngFor="let data of helperCategoryList">
                        <a [routerLink]="['services/sub-service']">
                            <div class="service-box">
                                <div class="serviceimg">
                                    <img src="{{data.iconUrl}}" class="img-fluid">
                                </div>
                                <div class="service-content">
                                    <h4>{{data.name}}</h4>
                                    <p>{{data.shortDescription}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="infobanner">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="infobanner-content">
                    <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                    <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis
                    </p>
                    <a href="" class="readmore">Open a Ticket</a>
                </div>
            </div>
        </div>
    </div> -->
</div>