<div class="banner-wrap inner"
    style="background-image: url(../../assets/images/contact-bg.jpg); background-repeat: no-repeat;">
    <div class="banner-contents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h1>Contact Us</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap contact">
    <div class="abt-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 con1">
                    <div class="abt-content">
                        <h3>Get In Touch</h3>
                        <p>Fill out this quick form and we willbe in touch with lightning speed</p>
                    </div>
                    <div class="contactwrap">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn contacts">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 con2">
                    <div class="contact-info">
                        <h4>Connect With Us</h4>
                        <p>For any questions or support.</p>

                        <div class="c-row">
                            <h5>Email:</h5>
                            <a href="mailto:info@24/7helps.com">info@24/7helps.com</a>
                        </div>
                        <div class="c-row">
                            <h5>Telephone:</h5>
                            <a href="tel:+94 77 945 4562">+94 77 945 4562</a>
                        </div>
                        <div class="c-row">
                            <h5>Address:</h5>
                            <p> B - 222 First Floor,<br>
                                504 Lavaca Street Suite 2000<br>
                                Austin, Texas 78701<br>
                                United States</p>
                        </div>
                    </div>
                </div>
                <!--       <div class="col-lg-12">
          <div class="mapwrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.906266119624!2d-97.74835748535715!3d30.268251814921026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5093e99a48f%3A0x4678c69ed4d80c7f!2sLavaca%20Plaza%2C%20504%20Lavaca%20St%2C%20Austin%2C%20TX%2078701%2C%20USA!5e0!3m2!1sen!2slk!4v1588394500771!5m2!1sen!2slk" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            
          </div>
        </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="infobanner">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="infobanner-content">
                    <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                    <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis
                    </p>
                    <a href="" class="readmore">Open a Ticket</a>
                </div>
            </div>
        </div>
    </div> -->
</div>