<div class="content-box-wrap appwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appcontainer boxshadow opentick">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-4">
                            <h2>Open Ticket</h2>
                            <div class="opentick-side">
                                <div class="tech-item">
                                    <div class="techimg">
                                        <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                    </div>
                                    <div class="techdetail">
                                        <h5>Jack Dou</h5>
                                        <div class="tech-points">
                                            <span class="tech-field">
                                                <i class="sprite sprite-field-icon"></i>
                                                <h6><a href="">IT & Telecommunication</a></h6>
                                            </span>
                                            <span class="tech-field">
                                                <i class="sprite sprite-city-icon"></i>
                                                <h6>City</h6>
                                            </span>
                                            <span class="tech-field">
                                                <i class="sprite sprite-country-icon"></i>
                                                <h6>Country</h6>
                                            </span>
                                        </div>
                                        <div class="techbtn-wrap">
                                            <span class="availablel-label ">Available</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="dashboardwrap">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="settings">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="settingwrap">
                                                        <div class="setting-form">
                                                            <form>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Title</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Title of the Ticket">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Helper Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Full Name of the technician with title">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Help Category </label>
                                                                            <select class="form-control">
                                                                                <option>Select Category</option>
                                                                                <option>Category 1</option>
                                                                                <option>Category 2</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group hdfiels">
                                                                            <label>Help Dates</label>
                                                                            <div class="h-datewrap">
                                                                                <h6>From</h6>
                                                                                <input type="text"
                                                                                    class="form-control fromdate"
                                                                                    id="from-datepicker">
                                                                            </div>
                                                                            <div class="h-datewrap">
                                                                                <h6>To</h6>
                                                                                <input type="text"
                                                                                    class="form-control todate"
                                                                                    id="to-datepicker">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Help Time</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Address</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>State </label>
                                                                            <select class="form-control">
                                                                                <option>Select State </option>
                                                                                <option>State 1</option>
                                                                                <option>State 2</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>City </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="City">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Contact No 1 </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Contact No 2 </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Other Requirements</label>
                                                                            <textarea class="form-control set-text"
                                                                                rows="5"
                                                                                placeholder="Any other special requirements"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <button type="submit" class="btn redbtn">Create
                                                                    Ticket</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>