a.cursorPointer {
  cursor: pointer;
  color: white;
}

a.cursorPointer:hover {
  color: white;
}

a.cursorPointerSideBar {
  cursor: pointer;
}

.service-provide {
  position: relative;
  display: block;
  background: #fff;
  padding: 17px 20px 7px;
  margin-top: 40px;
}

::ng-deep {
  .toptechslider-wrap {
    .owl-carousel {
      height: 400px;
      .owl-stage-outer {
        pointer-events: none;
        owl-stage > div {
          pointer-events: none;
          .owl-stage{
            width: 375px;

          }
        }
      }
    }
  }

  .service-provide {
    .owl-nav {
      .owl-prev {
        position: absolute;
        left: -25px;
        top: -80px;
        background-color: transparent;
         color: #8a8282;
        &:hover{
         background-color: transparent;
         color: #8a8282;
        }
      }
      .owl-next {
        position: absolute;
        right: -25px;
        top: -80px;
        background-color: transparent;
         color: #8a8282;
        &:hover{
          background-color: transparent;
          color: #8a8282;
         }
      }
    }
  }
}
