<div class="card">
    <div class="card-header card-header-theme" style="display: flex;">
        <mat-icon style="margin-right: 3px;">person_outline</mat-icon>
        <h4 class="card-title">Edit Helper</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="helperForm">
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput placeholder="Id (disabled)" formControlName="id">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="firstName" type="text">
                        <mat-error *ngIf="firstName.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="lastName" type="text">
                        <mat-error *ngIf="lastName.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput placeholder="E-mail" formControlName="email" type="email">
                        <mat-error *ngIf="email.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="Phone No" formControlName="phoneNo" type="text">
                        <mat-error *ngIf="phoneNo.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Country" formControlName="country" type="text">
                        <mat-error *ngIf="country.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="State" formControlName="state" type="text">
                        <mat-error *ngIf="state.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="city" type="text">
                        <mat-error *ngIf="city.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="addressLine" type="text">
                        <mat-error *ngIf="addressLine.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-label>Helper Category</mat-label>
                        <mat-select formControlName="helperCategoryId">
                            <mat-option *ngFor="let item of helperCategories" [value]="item.id"
                                matTooltip="{{item.categoryDescription}}" matTooltipPosition="right">
                                {{item.categoryName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="helperCategoryId.invalid">You must select a value</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateHelper()"
                [disabled]="helperForm.invalid || isBlocked">
                {{ isBlocked ? "Updating" : "Update" }}
                <mat-icon [hidden]="!isBlocked">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-raised-button type="button" class="btn btn-default pull-right"
                (click)="closeDialog()">Cancel</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>