<div class="login-form-wrapper">
    <mat-card>
        <div class="title">
            <mat-icon>{{ openLock ? "lock_open" : "lock" }}</mat-icon> <span class="text">Login</span>
        </div>
        <form [formGroup]="loginForm">
            <div class="form-wrapper">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="username.invalid && username.touched">Please enter your username</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input placeholder="Enter your password" matInput [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid && password.touched">Your password is required</mat-error>
                </mat-form-field>
                <button class="login-btn" mat-raised-button color="primary" [disabled]="loginForm.invalid || isBlocked"
                    (click)="authenticateUser()">
                    {{ isBlocked ? "Logging in" : "Login" }}
                    <mat-icon [hidden]="!isBlocked">
                        <mat-spinner diameter="20"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>