<div class="banner-wrap inner"
    style="background-image: url(assets/images/servicesub-banner.jpg); background-repeat: no-repeat;">
    <div class="banner-contents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h1>{{helperCategory.name}}</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap serv-sub">
    <div class="abt-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="abt-content">
                        <h3>{{helperCategory.name}}</h3>
                        <p>{{helperCategory.longDescription}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{helperCategory.imageUrl}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="ourservices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>{{helperCategory.title}}</h3>
                        <p>{{helperCategory.shortDescription}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-lists" *ngFor="let subservice of helperCategory.subServices">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="media">
                            <img src="assets/images/service-tick.png" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">{{subservice.name}}</h5>
                                <p>{{subservice.description}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- <div class="infobanner">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="infobanner-content">
                    <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                    <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis
                    </p>
                    <a href="" class="readmore">Open a Ticket</a>
                </div>
            </div>
        </div>
    </div> -->
</div>