<div class="h-me-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header hireme">
                    <h1><a href="">Home</a> / <a href="">Hire Me</a></h1>
                    <h2>Hire Me</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap hireme">
    <div class="hiremewrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <span class="mobifilter">Filter</span>
                    <div class="hire-sidebar">
                        <div class="hire-searchbox">
                            <h3>Services</h3>
                            <div class="search-items">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        IT / Telecommunication / Electrical Repair Services</label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Hospitality and Tourism</label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Mass Media and Entertainment</label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Hot Jobs</label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Vehicle Modificationand breakdown </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Education and academic </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Healthcare and Online Counselling</label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input search-check">
                                        Banking and other Financial Services</label>
                                </div>
                                <a href="" class="btnclr">CLEAR ALL</a>

                            </div>
                        </div>

                        <div class="hire-searchbox">
                            <h3>Counrty</h3>
                            <div class="search-items">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>USA</option>
                                        <option>UK</option>
                                    </select>
                                </div>
                                <a href="" class="btnclr">CLEAR ALL</a>
                            </div>
                        </div>

                        <div class="hire-searchbox">
                            <h3>City</h3>
                            <div class="search-items">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>City 1</option>
                                        <option>City 2</option>
                                    </select>
                                </div>
                                <a href="" class="btnclr">CLEAR ALL</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="hiretech-wrap">
                        <div class="hiresearcwrap">
                            <div class="form-inline">
                                <input type="text" class="form-control col-lg-6 col-md-12 ht-search"
                                    placeholder="Search for technicians or services">
                                <button type="submit" class="btn hiresearch">Search</button>
                                <select class="form-control col-lg-3 s-avlble">
                                    <option selected>Select Avalibility</option>
                                    <option>Avalibility</option>
                                    <option>Not Avalibility</option>
                                </select>
                                <a href="" class="btnclr">CLEAR ALL</a>

                            </div>
                        </div>
                        <div class="tech-lists">
                            <div class="techrow">
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-tech">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="../../../assets/images/tech-img.jpg" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5>Jack Dou</h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="">IT & Telecommunication</a></h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>City</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>Country</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <span class="availablel-label">Available</span>
                                                <a href="" class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagiwrap">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>






                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<div class="infobanner">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="infobanner-content">
                <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis</p>
                <a href="" class="readmore">Open a Ticket</a>
            </div>
        </div>
    </div>
</div>