<div class="h-me-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header hireme">
                    <h1><a href="">Home</a> / <a href="">Hire Me</a></h1>
                    <h2>Hire Me</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap hireme">
    <div class="hiremewrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <span class="mobifilter">Filter</span>
                    <div class="hire-sidebar">
                        <div class="hire-searchbox">
                            <h3>Services</h3>
                            <div class="search-items radio">
                                <li class="form-check">
                                    <input id="noneRadio" type="radio" (change)="getSelected($event)" value="0"
                                        name="categoryRadio">
                                    <label for="noneRadio" class="m-l-4 category-text">None</label>
                                </li>
                                <li *ngFor="let data of helperCategory; let i=index;" class="form-check">
                                    <input type="radio" id="category{{i}}" (change)="getSelected($event)"
                                        [value]="data.value" name="categoryRadio">
                                    <label for="category{{i}}" class="m-l-4 category-text">{{data.text}}</label>
                                </li>
                                <!-- <li *ngFor="let data of helperCategory; let i=index;" class="form-check">
                                    <label class=""><input type="checkbox" value="{{data.Name}}" #checkBox{{i}}
                                            id="{{i}}-checkbox"
                                            (click)="filterCategory(checkBox{{i}}.value)">{{data.Name}}</label>
                                </li> -->

                            </div>
                        </div>

                        <!-- <div class="hire-searchbox">
                            <h3>Counrty</h3>
                            <div class="search-items">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>USA</option>
                                        <option>UK</option>
                                    </select>
                                </div>
                                <a href="" class="btnclr">CLEAR ALL</a>
                            </div>
                        </div>

                        <div class="hire-searchbox">
                            <h3>City</h3>
                            <div class="search-items">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>City 1</option>
                                        <option>City 2</option>
                                    </select>
                                </div>
                                <a href="" class="btnclr">CLEAR ALL</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="hiretech-wrap">
                        <div class="hiresearcwrap">
                            <div class="form-inline">
                                <input type="text" class="form-control col-lg-6 col-md-12 ht-search"
                                    placeholder="Search for technicians or services" [formControl]="searchQuery"
                                    (keyup)="searchTerm$.next($event.target.value)">
                                <button class="btn hiresearch" (click)="getHelper()">Search</button>
                                <!-- <a href="" class="btnclr">CLEAR ALL</a> -->

                            </div>
                        </div>
                        <div class="tech-lists">
                            <div class="techrow">
                                <div class="col-tech"
                                    *ngFor="let data of helperList | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <div class="tech-item">
                                        <div class="techimg">
                                            <img src="{{data.image.imageUrl}}" class="img-fluid">
                                        </div>
                                        <div class="techdetail">
                                            <h5><a [routerLink]="['/helper-details/helper', data.id]">{{data.firstName}}
                                                    {{data.lastName}}</a></h5>
                                            <div class="tech-points">
                                                <span class="tech-field">
                                                    <i class="sprite sprite-field-icon"></i>
                                                    <h6><a href="javascript:void(0)"
                                                            [routerLink]="['/services/sub-service', data.helperCategoryId]">{{data.helperCategory.name}}</a>
                                                    </h6>
                                                </span>
                                                <span class=" tech-field">
                                                    <i class="sprite sprite-city-icon"></i>
                                                    <h6>{{data.city}}</h6>
                                                </span>
                                                <span class="tech-field">
                                                    <i class="sprite sprite-country-icon"></i>
                                                    <h6>{{data.country}}</h6>
                                                </span>
                                            </div>
                                            <div class="techbtn-wrap">
                                                <a href="" [routerLink]="['/hire-me/open-ticket', data.id]"
                                                    class="btn-hire">Hire Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="totalNoOfRecords == 0">
                                    <p>No records found!</p>
                                </div>
                            </div>
                        </div>
                        <div class="pagiwrap">
                            <nav>
                                <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event">
                                </pagination-controls>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- 
<div class="infobanner">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="infobanner-content">
                <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis</p>
                <a href="" class="readmore">Open a Ticket</a>
            </div>
        </div>
    </div>
</div> -->