<div class="footerwrap">
    <div class="footer-sec1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fcol-1">
                        <h5>24/7 Helps</h5>
                        <p>Lorem ipsum dolor sit amet, cosectetu erlit.adipiscing elit. Aenean tuer adipiscing
                            amet, elitetuer adipis enean tuer adip iipsum dolor lit.adipiscing elit. Aenean tuer adipis
                            cing adip is enean tuer adip amet
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fcol-2">
                        <div class="fmenuwrap">
                            <div class="fmenu">
                                <h6>Menu</h6>
                                <ul>
                                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                                    <li><a [routerLink]="['/services']">Services</a></li>
                                    <li><a [routerLink]="['/hire-me']">Hire Me</a></li>
                                    <li><a [routerLink]="['/contact-us']">Contact Us</a></li>

                                </ul>
                            </div>
                            <div class="fmenu">
                                <h6>General</h6>
                                <ul>
                                    <li><a [routerLink]="['/help-center']">Terms & Conditions </a></li>
                                    <li><a [routerLink]="['/help-center']">Privacy Policy </a></li>
                                    <li><a [routerLink]="['/help-center']">FAQ </a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fcol-3">
                        <div class="nletter-col1">
                            <h6>Newsletter</h6>
                            <p>Be the first to know about the latest news and get exclusive offers</p>
                        </div>
                        <div class="nletter-col2">
                            <form class="form-inline newsletter-wrap">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="E mail Address">
                                </div>
                                <button type="submit" class="btn">Subscribe</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 c-order">
                    <ul class="f-contacts">
                        <li>
                            <a href="mailto:info@24/7helps.com"><i
                                    class="fas fa-envelope"></i><span>info@24/7helps.com</span>
                            </a>
                        </li>
                        <li googl="true">
                            <a href="tel:+94 77 945 4562">
                                <i class="fas fa-phone-alt"></i><span>+94 77 945 4562</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 l-order">
                    <div class="flogo-wrap">
                        <a href="#"><img src="../../../assets/images/footer-logo.png" class="img-fluid" /></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 c-order">
                    <div class="f-social">
                        <h6>Follow Us</h6>
                        <ul>
                            <li><a href=""><i class="sprite sprite-instagram-icon"></i></a></li>
                            <li><a href=""><i class="sprite sprite-fb-icon"></i></a></li>
                            <li><a href=""><i class="sprite sprite-linkin-icon"></i></a></li>
                            <li><a href=""><i class="sprite sprite-tw-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer-bottom">
    <div class="container">
        <div class="copyright">
            <p>Copyright © 2019 24/7 Helps, All Rights Reserved</p>
            <p>Concept and Web Design By <a href="#" target="_blank">WebWay Solutions</a></p>
        </div>

    </div>
</div>