<div class="content-box-wrap appwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appcontainer">
                    <div class="row">
                        <div class="col-lg-8 dbb">
                            <div class="dashboardwrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h6>Register</h6>
                                    </div>
                                </div>
                                <div class="row" *ngIf="userType == 3">
                                    <div class="col-lg-12">
                                        <div class="settings">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="settingwrap boxshadow">
                                                        <h4>Personal Details</h4>
                                                        <div class="setting-form">
                                                            <form [formGroup]="customerForm"
                                                                (ngSubmit)="onCustomerSubmit()">
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Full name"
                                                                                formControlName="name"
                                                                                [ngClass]="{ 'is-invalid': c.name.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.name.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.name.errors.required">
                                                                                    Name is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Phone</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94"
                                                                                formControlName="phoneNo"
                                                                                [ngClass]="{ 'is-invalid': c.phoneNo.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.phoneNo.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.phoneNo.errors.required">
                                                                                    Phone is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Email Address</label>
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Your Email"
                                                                                formControlName="email"
                                                                                [ngClass]="{ 'is-invalid': c.email.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.email.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.email.errors.required">
                                                                                    Email is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Address</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="addressLine"
                                                                                [ngClass]="{ 'is-invalid': c.addressLine.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.addressLine.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="c.addressLine.errors.required">
                                                                                    Address is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Country </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Country"
                                                                                formControlName="country"
                                                                                [ngClass]="{ 'is-invalid': c.country.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.country.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.country.errors.required">
                                                                                    Country is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>State</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="State"
                                                                                formControlName="state"
                                                                                [ngClass]="{ 'is-invalid': c.state.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.state.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.state.errors.required">
                                                                                    State is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>City </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="City"
                                                                                formControlName="city"
                                                                                [ngClass]="{ 'is-invalid': c.city.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.city.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="c.city.errors.required">
                                                                                    City is required</div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Postal Code</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Postal Code"
                                                                                formControlName="postalCode"
                                                                                [ngClass]="{ 'is-invalid': c.postalCode.errors && isFormSubmitted }">
                                                                            <div *ngIf="c.postalCode.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="c.postalCode.errors.required">
                                                                                    Postal Code is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Profile Picture</label>
                                                                            <label class="file">
                                                                                <input class="form-control-file"
                                                                                    type="file" ng2FileSelect
                                                                                    [uploader]="uploader"
                                                                                    (change)="fileChangeEvent()"
                                                                                    [ngClass]="{ 'is-invalid': c.profilePicUrl.errors && isFormSubmitted }"
                                                                                    formControlName="profilePicUrl" />
                                                                                <span
                                                                                    class="file-custom">{{public_id}}</span>
                                                                                <div *ngIf="c.profilePicUrl.errors"
                                                                                    class="invalid-feedback"
                                                                                    style="margin-top: 16px;">
                                                                                    <div
                                                                                        *ngIf="c.profilePicUrl.errors.required">
                                                                                        Profile pic is required
                                                                                    </div>
                                                                                </div>
                                                                            </label>
                                                                            <div class="progress" style="height: 5px;">
                                                                                <div class="progress-bar"
                                                                                    role="progressbar"
                                                                                    [ngStyle]="{ 'width': uploader.progress + '%' }">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn redbtn"
                                                                    [disabled]="customerForm.invalid || isCustomerRequested">
                                                                    <i class="fa fa-circle-o-notch fa-spin fa-fw"
                                                                        [hidden]="!isCustomerRequested"></i>
                                                                    {{isCustomerRequested ? 'Saving' : 'Save'}}
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="userType == 2">
                                    <div class="col-lg-12">
                                        <div class="settings">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="settingwrap boxshadow">
                                                        <h4>Personal Details</h4>
                                                        <div class="setting-form">
                                                            <form [formGroup]="helperForm"
                                                                (ngSubmit)="onHelperSubmit()">
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Full name"
                                                                                formControlName="firstName"
                                                                                [ngClass]="{ 'is-invalid': h.firstName.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.firstName.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.firstName.errors.required">
                                                                                    First Name is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Last Name"
                                                                                formControlName="lastName"
                                                                                [ngClass]="{ 'is-invalid': h.lastName.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.lastName.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.lastName.errors.required">
                                                                                    Last Name is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Phone</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94"
                                                                                formControlName="phoneNo"
                                                                                [ngClass]="{ 'is-invalid': h.phoneNo.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.phoneNo.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.phoneNo.errors.required">
                                                                                    Phone is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Mobile</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="+94"
                                                                                formControlName="mobileNo"
                                                                                [ngClass]="{ 'is-invalid': h.mobileNo.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.mobileNo.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.mobileNo.errors.required">
                                                                                    Mobile is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>E mail Address</label>
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Your Email"
                                                                                formControlName="email"
                                                                                [ngClass]="{ 'is-invalid': h.email.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.email.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.email.errors.required">
                                                                                    Email is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Address</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Address"
                                                                                formControlName="addressLine"
                                                                                [ngClass]="{ 'is-invalid': h.addressLine.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.addressLine.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.addressLine.errors.required">
                                                                                    Address is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Country </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Country"
                                                                                formControlName="country"
                                                                                [ngClass]="{ 'is-invalid': h.country.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.country.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.country.errors.required">
                                                                                    Country is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>State</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="State"
                                                                                formControlName="state"
                                                                                [ngClass]="{ 'is-invalid': h.state.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.state.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.state.errors.required">
                                                                                    State is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>City </label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="City"
                                                                                formControlName="city"
                                                                                [ngClass]="{ 'is-invalid': h.city.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.city.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.city.errors.required">City
                                                                                    is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Postal Code</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Postal Code"
                                                                                formControlName="postalCode"
                                                                                [ngClass]="{ 'is-invalid': h.postalCode.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.postalCode.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.postalCode.errors.required">
                                                                                    Postal code is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group field-chk">
                                                                            <label>Field of Expertise</label>
                                                                            <div class="form-check"
                                                                                *ngFor="let model of helperCategoryList">
                                                                                <label class="form-check-label">
                                                                                    <input
                                                                                        class="form-check-input fieldcheck"
                                                                                        type="radio" [value]="model.id"
                                                                                        id=""
                                                                                        formControlName="helperCategoryId"
                                                                                        [ngClass]="{ 'is-invalid': h.helperCategoryId.errors && isFormSubmitted }">
                                                                                    {{model.name}}
                                                                                    <div *ngIf="h.helperCategoryId.errors"
                                                                                        class="invalid-feedback">
                                                                                        <div
                                                                                            *ngIf="h.helperCategoryId.errors.required">
                                                                                            Field of expertise is
                                                                                            required</div>
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Years of Experience</label>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Years of Experience"
                                                                                formControlName="experience"
                                                                                [ngClass]="{ 'is-invalid': h.experience.errors && isFormSubmitted }">
                                                                            <div *ngIf="h.experience.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.experience.errors.required">
                                                                                    Years of experiance is required
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col cgap">
                                                                        <div class="form-group">
                                                                            <label>Profile Picture</label>
                                                                            <label class="file">
                                                                                    <input class="form-control-file"
                                                                                    type="file" ng2FileSelect
                                                                                    [uploader]="uploader"
                                                                                    (change)="fileChangeEvent()"
                                                                                    [ngClass]="{ 'is-invalid': h.profilePicUrl.errors && isFormSubmitted }"
                                                                                    formControlName="profilePicUrl" />
                                                                                <span class="file-custom">{{public_id}}</span>
                                                                                <div *ngIf="h.profilePicUrl.errors"
                                                                                    class="invalid-feedback"
                                                                                    style="margin-top: 16px;">
                                                                                    <div
                                                                                        *ngIf="h.profilePicUrl.errors.required">
                                                                                        Profile pic is required
                                                                                    </div>
                                                                                </div>
                                                                            </label>
                                                                            <div class="progress" style="height: 5px;">
                                                                                <div class="progress-bar"
                                                                                    role="progressbar"
                                                                                    [ngStyle]="{ 'width': uploader.progress + '%' }">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>About Me</label>
                                                                            <textarea class="form-control set-text"
                                                                                placeholder="Description About your self"
                                                                                formControlName="aboutMe"
                                                                                [ngClass]="{ 'is-invalid': h.aboutMe.errors && isFormSubmitted }"></textarea>
                                                                            <div *ngIf="h.aboutMe.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="h.aboutMe.errors.required">
                                                                                    About your self is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>About My Service</label>
                                                                            <textarea class="form-control set-text"
                                                                                placeholder="Description about the service provided"
                                                                                formControlName="myService"
                                                                                [ngClass]="{ 'is-invalid': h.myService.errors && isFormSubmitted }"></textarea>
                                                                            <div *ngIf="h.myService.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="h.myService.errors.required">
                                                                                    About my service is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn redbtn"
                                                                    [disabled]="helperForm.invalid || isHelperRequested">
                                                                    <i class="fa fa-circle-o-notch fa-spin fa-fw"
                                                                        [hidden]="!isHelperRequested"></i>
                                                                    {{isHelperRequested ? 'Saving' : 'Save'}}
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>