<div class="main-content">
    <app-loader *ngIf="isLoadingResults"></app-loader>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-theme">
                        <h4 class="card-title mt-0"> Admin List</h4>
                    </div>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> User Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="createdOn">
                            <th mat-header-cell *matHeaderCellDef> Created on </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdOn | date: 'mediumDate'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon style="cursor: pointer;" (click)="openDeleteDialog(element.id)">
                                    delete_outline
                                </mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="noData">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                No records found.
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="loading">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                Loading, please wait...
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr mat-footer-row *matFooterRowDef="['noData']"
                            [hidden]="dataSource && dataSource.data.length > 0">
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="['loading']" [hidden]="dataSource !== undefined"></tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons [length]="paginator.length"
                        (page)="getPagedAdmins($event)"></mat-paginator>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-theme" style="display: flex;">
                        <h4 class="card-title">Add Admin</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="adminForm">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Username" formControlName="userName" type="text">
                                    <mat-error *ngIf="userName.errors?.required">You must enter a value
                                    </mat-error>
                                    <mat-error *ngIf="userName.errors?.usernameInUse">Username is already
                                        taken!
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Email" formControlName="email" type="email">
                                    <mat-error *ngIf="email.errors?.required">You must enter a value</mat-error>
                                    <mat-error *ngIf="email.errors?.emailInUse">Email is already taken!</mat-error>
                                    <mat-error *ngIf="email.errors?.email">Email must be a valid email address!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Password" formControlName="password" type="password">
                                    <mat-error *ngIf="password.errors?.required">You must enter a value</mat-error>
                                </mat-form-field>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="createAdmin()" [disabled]="adminForm.invalid || isBlocked">
                                {{ isBlocked ? "Adding" : "Add" }}
                                <mat-icon [hidden]="!isBlocked">
                                    <mat-spinner diameter="20"></mat-spinner>
                                </mat-icon>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteDialog>
    <h2 matDialogTitle>Are you sure you want to delete this Admin? This cannot be undone</h2>
    <mat-dialog-actions align="end">
        <button mat-flat-button matDialogClose="no">No</button>
        <button mat-flat-button color="warn" matDialogClose="yes">Yes</button>
    </mat-dialog-actions>
</ng-template>