<div class="banner-wrap inner"
    style="background-image: url(assets/images/helpcenterbg.jpg); background-repeat: no-repeat;">
    <div class="banner-contents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h1>Help Center</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="content-box-wrap help">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="help-tabwrap">
                    <a href="#terms" class="hc-tab">
                        <div class="tabicon"><img src="assets/images/help-tab1.png"></div>
                        <h5>Terms & Conditions</h5>
                    </a>
                    <a href="#privacy" class="hc-tab">
                        <div class="tabicon"><img src="assets/images/help-tab2.png"></div>
                        <h5>Privacy Policy</h5>
                    </a>
                    <a href="#faq" class="hc-tab">
                        <div class="tabicon"><img src="assets/images/help-tab3.png"></div>
                        <h5>FAQ</h5>
                    </a>
                    <span id="terms"></span>
                </div>
            </div>
        </div>

        <div class="tabcontents-wrap" *ngFor="let model of helpCenterModel">
            <div class="container">
                <h3>{{model.title}} of 24/7Helps.com</h3>
                <p>{{model.description}}</p>



                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" *ngFor="let item of model.topics | keyvalue">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="mb-0"><i class="fas fa-angle-down rotate-icon"></i><span>{{item.key}}</span>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p>{{item.value}}</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>


<!-- <div class="infobanner">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="infobanner-content">
                <h3>Lorem Ipsum is simply dummy Text of the printing</h3>
                <p>Lorem ipsum dolor sit amet, cosectetuer adipiscing elit. Aeneantuer adipiscing elitetuer adipis</p>
                <a href="" class="readmore">Open a Ticket</a>
            </div>
        </div>
    </div>
</div> -->