table {
  width: 100%;
}

.mat-row:hover {
  background-color: whitesmoke;
}

@media screen and (max-width: 960px) {
 
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    padding-right: 15px;
  }
  
}